[client-server]                                                                                        
# hardlink position to database socket and give port address
socket=/var/lib/mysql/mysql.sock
port=3306

# This will be passed to all MariaDB clients
# socket and root password
[client]
socket=/var/lib/mysql/mysql.sock
password=12345

#allow connection from anywhere
[mysqld]
bind-address=0.0.0.0
skip-networking=false

#verbose errorlog accessable from outside container in the volume
[mariadb]
log_warnings=4
log_error=/var/lib/mysql/mariadb.err
